.faq {
  padding: 65px 15px 60px 15px;
}

.faq__title {
  margin-bottom: 46px;
}

.faq__list {
  @include list-reset;
}

.faq__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 33px;
  height: 33px;
  margin-left: 20px;
  background: linear-gradient(98.71deg, #9d60dd -4.25%, #5933bc 105.51%);
  border-radius: 50%;
  transition: all 0.3s;

  svg {
    width: 13px;
    height: 8px;
    transition: all 0.3s;
    fill: #ffffff;
  }
}

.faq__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 15px;
  background: #eff1f7;
  cursor: pointer;
  transition: all 0.3s;
}

.faq__item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &--active {
    .faq__icon {
      background: #eff1f7;

      svg {
        transform: rotate(-180deg);
        fill: #3b3640;
      }
    }

    .faq__control {
      background: linear-gradient(122.56deg, #9d60dd -4.25%, #5933bc 105.51%);
    }

    .faq__question {
      color: #ffffff;
    }

    .faq__content {
      display: block;
    }
  }
}

.faq__question {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #3b3640;
}

.faq__content {
  display: none;
  padding: 25px 15px;
  padding-bottom: 0;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 768px) {
  .faq__title {
    br {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .faq {
    @include page-wrapper;
    padding-bottom: 120px;
  }

  .faq__control {
    padding-right: 80px;
    padding-left: 80px;
  }

  .faq__content {
    max-width: calc(770px + (80px * 2));
    padding-right: 80px;
    padding-left: 80px;
  }
}
