.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  color: #3b3640;
  text-transform: uppercase;

  span {
    color: #fad26f;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 35px;
    line-height: 55px;
  }
}
