.delivery {
  padding: 90px 15px 65px 15px;
}

.delivery__title {
  margin-bottom: 20px;
}

.delivery__desc {
  margin-bottom: 57px;
}

.delivery__list {
  @include list-reset;
  margin-bottom: 70px;
}

.delivery__item {
  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

.delivery__number {
  display: inline-block;
  margin-bottom: 26px;
  font-weight: 200;
  font-size: 50px;
  line-height: 61px;
  color: transparent;
  background: linear-gradient(173.46deg, #b487ec 5.25%, #6138be 95.98%);
  background-clip: text;
}

.delivery__name {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  color: #3b3640;
  text-transform: uppercase;
}

.delivery__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #3b3640;
}

.delivery__zone {
  margin-bottom: 70px;
}

.delivery__map {
  margin-right: -15px;
  margin-bottom: 45px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .delivery {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .delivery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .delivery__item {
    flex-grow: 1;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .delivery {
    @include page-wrapper;
    background-image: url("../../img/advantages__bg.png");
    background-repeat: no-repeat;
    background-position: top 200px left;
  }

  .delivery__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .delivery__bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 70px;
  }

  .delivery__map {
    width: 670px;
    margin: 0;
  }

  .delivery__zone {
    margin-bottom: 0;
    margin-left: 65px;
  }

  .delivery__button {
    width: 345px;
    margin: 0 auto;
  }

  .delivery__item {
    flex-grow: unset;
    width: 330px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
